* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  padding: 2em;
}
.header {
  line-height: 1.4;
  margin-bottom: 2em;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.block {
  margin-bottom: 2em;
}
.row {
  margin-bottom: 1em;
}
.button {
  background-color: rgba(255,255,255,0);
  padding: 0.5em;
  border: 1px solid #eee;
  cursor: pointer;
  outline: 0;
}
.button:hover {
  border-color: #ccc;
}
.title {
  margin-bottom: 1em;
}
pre {
  white-space: pre-wrap;
}
.code {
  background-color: #eee;
  text-align: left;
  padding: 1em;
  border-radius: 5px;
}
.code span {
  color: #999;
}
/* INumber */
.inumber {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.inumber-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-color: rgba(255,255,255,0);
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
}
.inumber-button:hover {
  border-color: #000;
}
.inumber-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  width: 50px;
  height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.inumber-input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.inumber-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.inumber-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
